html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  color: #E8E6E3;
  font-family: Karla, sans-serif;
  font-size: 18px;
  text-justify: inter-word;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  transition: color 0.5s ease, background-color 0.5s ease, border-bottom 0.5s ease;
}

.light-mode {
   background-color: white;
   color: black;
}
.light-mode h2{
   color: #ff8000;
}
.light-mode .lateralOptOut{
   background-color: #f3f3f3;
   color: black;
}
.light-mode .hr{
   color: #767676;
}
.light-mode .menu_option{
   color: black;
}
.light-mode .title_menu{
    color: #ff8000;
}
.light-mode #code1{
    color: black;
    border-bottom: 1px solid black;
}
.light-mode #code2{
    color: black;
    border-bottom: 1px solid black;
}
.light-mode #code3{
    color: black;
    border-bottom: 1px solid black;
}
.light-mode .float-block{
    background-color: #f3f3f3;
}
.light-mode #env_bottom {
    background: white;
    color: black;
    border: 1px solid #767676;
}
.light-mode #email {
    background: #f3f3f3;
    border: 1px solid #767676;
}
.light-mode #description {
    background: #f3f3f3;
}
.light-mode .bloque {
    border-bottom: 2px dotted #767676;
}

a {
    text-decoration: none;
}

#introButton {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff8000;
    border-bottom: 1px solid transparent; /* Establecer el subrayado como transparente */
    transition: color 0.9s ease, border-bottom 0.6s ease; /* Agregar transición para color y subrayado */
}

#introButton:hover {
  border-bottom: 1px solid #ff8000; /* Mostrar el subrayado al pasar el ratón */
}

#emote_guiño {
    width:24px;
    height:24px;
}

.bright_dark_button{
    float: right;
}

.bright_dark{
    width: 26px;
    height: 24px;
}

/*----------------Main-------------------*/
.all {
    display: flex;
}

#show_sidebar_button {
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 999;
}

.img_menu {
    width: 70%;
    height: 70%;
}

.hide_sidebar .block_content {
    transition: 0.3s ease all;
    width: 100vw;
    margin-left: 0%;
}

.lateralOptOut {
    position: fixed;
    background-color: black;
    height: 100%; /*lo de vh es el viewport altura y el vw para la anchura, y el número el porcentaje que quieras ocupar*/

    width: 250px;
    top: 0;
    left: 0;
    padding: 20px;
    width: 15%;
    border-right: 1px solid #766E61;

    transition: 0.3s ease all;
}

.lateralOptIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr {
    size: 1px;
    border-bottom: 0.5px solid #766E61;
}

.title_menu {
  color: #ff8000;
  font-size: 25px;
  text-align: center;
  margin-left: 32px;
  border-bottom: 1px solid #ff8000;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    text-decoration: none;
    text-align:center;
}

.menu {
    margin-bottom: 20px;
}

.menu_option {
    color: #E8E6E3;
    font-size: 20px;
}

.block_content {
    width: 85%;
    display: flex;
    align-items: flex-end;
    margin-left: 15%;
    justify-content: stretch;
    flex-direction: column;
    align-content: stretch;
}

#contacto_ref {
    color: #ff8000;
    border-bottom: 1px solid #ff8000;
}

.bloque {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px dotted #766E61;

    display: flex;
    align-items: center; /* centra verticalmente */
    justify-content:center;

    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
}

#bloque4 { /*El ultimo bloque no quiero que tenga la separación*/
    border: none;
}

.titulo_content {
    color: #ff8000;
}

.content{
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    width: min(80%, 1000px);
}

/*--------------*/
.contenedor_bloques_flotantes {
    justify-content: space-around;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.float-block {
  width: 27%;
  padding: 20px;
  background-color: #181a1b;
  border: 1px solid #766E61;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  float: left;
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
}
.float-block:hover {
    transform: scale(1.17);
}
.float-block h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
  margin-bottom: 5px;
}
.image_proj {
    width: 95%;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid #766E61;
}
.float-block p {
  font-size: 1rem;
  margin-bottom: 10px;
}
.float-block a {
  display: block;
  font-size: 0.8rem;
  color: #333;
  text-decoration: none;
}

.codigo{
     border-bottom: 1px solid #E8E6E3;
}
/* esto lo tengo que poner porq no sé porque, pero sino no me pone el color en la clase */
#code1{
    color: #E8E6E3;
}
#code2{
    color: #E8E6E3;
}
#code3{
    color: #E8E6E3;
}
/*Skills*/
h2 {
    text-align: left;
}
.skill_container {
    background-color: #51585B;
    width: 100%;
}

.skill {
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    background-color: blue;
}
.cmasvisible {
    animation: fillcmas 2s forwards;
}
.javavisible {
    animation: filljava 2s forwards;
}
.htmlvisible {
    animation: fillhtml 2s forwards;
}
.cssvisible {
    animation: fillcss 2s forwards;
}
.jsvisible {
    animation: filljs 2s forwards;
}
@keyframes fillcmas{
    0%{width: 0;}
    100%{width: 85%;}
}
@keyframes filljava{
    0%{width: 0;}
    100%{width: 65%;}
}
@keyframes fillhtml{
    0%{width: 0;}
    100%{width: 50%;}
}
@keyframes fillcss{
    0%{width: 0;}
    100%{width: 50%;}
}
@keyframes filljs{
    0%{width: 0;}
    100%{width: 40%;}
}


.idi{
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    background-color: green;
}
.espvisible{
    animation: fillesp 2s forwards;
}
.catvisible{
    animation: fillcat 2s forwards;
}
.ingvisible{
    animation: filling 2s forwards;
}
.frvisible{
    animation: fillfr 2s forwards;
}
.jpvisible{
    animation: filljp 2s forwards;
}
@keyframes fillesp{
    0%{width: 0;}
    100%{width: 100%;}
}
@keyframes fillcat{
    0%{width: 0;}
    100%{width: 95%;}
}
@keyframes filling{
    0%{width: 0;}
    100%{width: 80%;}
}
@keyframes fillfr{
    0%{width: 0;}
    100%{width: 10%;}
}
@keyframes filljp{
    0%{width: 0;}
    100%{width: 10%;}
}

.noZoom:hover {
   transform: scale(1);
}

.caracteristica {
    font-size: 18px;
    text-align: left;
}

.caract{
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}

/*Contacto*/
.form-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    form-container: wrap;
    width: 100%;
}

.inp {
    margin-bottom: 10px;
}

#env_bottom {
    font-style: bold;
    font-size: 18px;
    margin-top: 10px;
    background: #3b3b3b;
    color: #E8E6E3;
}

#email {
    width: 50%;
    font-size: 20px;
    background: #3b3b3b;
}

#description{
    width: 100%;
    heigth: 20px;
    font-size: 20px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    background: #3b3b3b;
}

/*-----------------*/
.social_wrap {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: 100px;
}

div {
  display: block;
}

#linkedin_link {
    height: 70%;
    width: 70%;
    border: 1px solid gray;
    border-radius: 50%;
}













